<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <p class="lead">사원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">사원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members">사원 목록</a>
        </p>
        <p class="lead">장비(폰) 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/items/new">장비 등록</a>
            <a class="btn btn-lg btn-dark" href="/items">장비 목록</a>
        </p>
        <p class="lead">대여 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">폰 대여</a>
            <a class="btn btn-lg btn-info" href="/orders">대여 내역</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>